:root {
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica';
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

a:hover,
button:hover,
input[type='submit'] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

input[type='text'], textarea {
    width: 100%;
    padding: 0.5rem;
}

textarea {
    resize: none;
}

.navigation {
    background: #1f4dc9;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 16px 20px 19px #888888;
}

.navigation-brand {
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Carter One', cursive;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.main {
    width: 100%;
    min-height: 100%;
    background: #f2f2f2;
    padding: 0 0.5rem;
}

.content {
    margin: 0 auto;
    padding: 1rem;

    width: 100%;
    min-width: 200px;
    max-width: 800px;
}

.button {
    background: #ffffff;
    margin: 0 0.5rem 0 0;
    padding: 1rem;
    border: 2px solid #6457d8;
   
    color: #6457d8;
    border-radius: 4px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
}

.button:hover {
    border: 2px solid #493ea8;
    color: #493ea8;
}

.welcome-message {
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.category-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.category-card {
    background: #ffffff;
    margin: 1rem 0;
    padding: 1rem;
    /* box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.6); */
    border: 1px solid #e2e2e2;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.category-card:hover {
    cursor: 'arrow';
    /* box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.6); */
}

.category-card__name {
    font-size: 1.5rem;
    text-transform: lowercase;
    margin: 0 0 1rem 0;
}

.category-card__name::before {
    content: '# '
}

.category-card__description {
    font-size: 1rem;
}

.category-card__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.category-card__add-button:before {
    content: '\0002B  ';
    font-size: 1.25rem;
}

.category-form {
    width: 100%;
}

.input-group {
    margin: 0 0 1rem 0;
    width: 100%;
}

.delete-category-message {
    padding: 1rem 0;
    margin: 1rem 0;
}

.welcome-message {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    background: #ffffff;
}

.flash-message {
    margin: 1rem 0;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #e2e2d2;
    border-radius: 4px;
    color: #383838;
    font-style: italic;
}

#google-sign-in-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0px 5px 10px -5px #888888;
    background: white;

}

.sign-in-text {
    text-align: center;
    font-size: 1.2rem;
}

.sign-in-logo-svg {
    max-width: 100%;
    width: 90px;
    height: 150px;
}

.hidden {
	display: none;
}

