<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %} - Item Catalog</title>
    {% endblock %}
</head>
<body>
    <nav class="navigation">
        {% block navigation %}
            <span>Item Catalog</span>
        {% endblock %}
    </nav>
    <main class="main">
        <div class="content">{% block content %}{% endblock %}</div>
    </main>
    
</body>
</html>