{% extends "base.html" %}
{% block title %}New Category{% endblock %}
{% block content %}
    <h1>New Category</h1>
    <form class="category-form">
        <div class="input-group">
            <label class="input-label" for="category-name">Name</label>
            <input id="category-name">
        </div>
        <div class="input-group">
            <label class="input-label" for="category-description">Description</label>
            <textarea id="category-description" rows="5"></textarea>
        </div>
        <button class="button">Create</button>
    </form>
{% endblock %}
