<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    
    <title>{% block title %}{% endblock %} - Item Catalog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">

    <!-- Styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <!-- Polyfills -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <nav class="navigation">
        {% block navigation %}
            <a class="navigation-brand" href="{{ url_for('main.index') }}">Item Catalog</a>
	    
		    {% if session['user_id'] %}
		        <a class="nav-login-button" href="/logout">Logout</a>
		    {% else %}
		        <a class="nav-login-button" href="/login">Login</a>
		    {% endif %}
        {% endblock %}
    </nav>
    <main class="main">
        <div class="content">{% block content %}{% endblock %}</div>
    </main>
</body>
</html>