{% extends "base.html" %}
{% block title %}Delete #{{category.name}}{% endblock %}
{% block content %}
    <h1>Delete #{{category.name}}</h1>
    <p class="delete-category-message">Are you sure you want to delete the category, #{{category.name}}?</p>
    <form action="{{url_for('categories.delete_category', category_id=category.id)}}" method="POST">
        <input class="button" type="submit" name="yes" value="Yes, delete it">
        <input class="button" type="submit" name="no" value="No, keep it">
    </form>
{% endblock %}
