{% extends "base.html" %}
{% block title %}Edit {{category.name}}{% endblock %}
{% block content %}
    <h1>Edit {{category.name}}</h1>
    <form class="category-form" action="{{ url_for('create_new_category') }}" method="post">
        <div class="input-group">
            <label class="input-label" for="category-name">Name</label>
            <input id="category-name" type="text" name="name" value="{{category.name}}">
        </div>
        <div class="input-group">
            <label class="input-label" for="category-description">Description</label>
            <textarea id="category-description" name="description" rows="5" value="{{category.description}}">{{category.description}}</textarea>
        </div>
        <input class="button" type="submit" name="update" value="Update">
        <input class="button" type="reset" name="reset" value="Reset">
    </form>
{% endblock %}
