{% extends "base.html" %}

{% block head %}
    <!--&lt;!&ndash;<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>&ndash;&gt;-->
    <!--<script src="https://apis.google.com/js/api:client.js"></script>-->
    <!--<script src="//apis.google.com/js/platform.js?onload=start"></script>-->
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}


<!-- GOOGLE PLUS SIGN IN-->


<div id="signinButton">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="474098323200-24mip8hl5v2idc5200nf0pmtbca9bmqh.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
          </span>
</div>

<div id="result"></div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/restaurant";
                        }, 4000);

                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->
<!-- Google Sign In Button -->
<!--<button id="google-sign-in-button" class="sign-in-card">-->
    <!--<span class="sign-in-text">Sign in with Google</span>-->
    <!--<svg class="sign-in-logo-svg" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
        <!--<g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
            <!--<g id="logo_googleg_48dp" transform="translate(5, 5) scale(2)">-->
                <!--<path d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z" fill="#4285F4"></path>-->
                <!--<path d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z" fill="#34A853"></path>-->
                <!--<path d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z" fill="#FBBC05"></path>-->
                <!--<path d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z" fill="#EA4335"></path>-->
                <!--<path d="M0,0 L18,0 L18,18 L0,18 L0,0 Z"></path>-->
            <!--</g>-->
        <!--</g>-->
    <!--</svg>-->
<!--</button>-->

<!--<script>-->
    <!--var googleUser = {};-->
    <!--setupGoogleLogin();-->
    <!--function setupGoogleLogin() {-->
        <!--gapi.load('auth2', function(){-->
            <!--// Retrieve the singleton for the GoogleAuth library and set up the client.-->
            <!--auth2 = gapi.auth2.init({-->
                <!--client_id: '474098323200-24mip8hl5v2idc5200nf0pmtbca9bmqh.apps.googleusercontent.com',-->
                <!--cookiepolicy: 'single_host_origin',-->
                <!--// Request scopes in addition to 'profile' and 'email'-->
                <!--//scope: 'additional_scope'-->
            <!--});-->
            <!--attachSignin(document.getElementById('google-sign-in-button'));-->
        <!--});-->
    <!--}-->

    <!--function attachSignin(element) {-->
        <!--console.log(element.id);-->
        <!--auth2.attachClickHandler(element, {},-->
            <!--function(googleUser) {-->
                <!--alert( "Signed in: " + googleUser.getBasicProfile().getName());-->
                <!--document.getElementById('google-sign-in-button').style.display = 'none';-->
                <!--fetch('/gconnect', {-->
                    <!--method: 'POST',-->
                    <!--body: JSON.stringify(googleUser),-->
                    <!--headers: {-->
                        <!--'content-type': 'text/html'-->
                    <!--}-->
                <!--}).then(function(response){debugger;});-->
            <!--}, function(error) {-->
                <!--alert(JSON.stringify(error, undefined, 2));-->
            <!--});-->
    <!--}-->
<!--</script>-->

<!-- Facebook Sign In Button -->
<button id="facebook-sign-in-button" class="sign-in-card">
    <span class="sign-in-text">Sign in with Facebook</span>
    <svg id="facebook-logo" class="sign-in-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
        <title>Facebook Logo</title>
        <path id="facebook-logo__background" fill="#4267b2" d="M68,0H4A4,4,0,0,0,0,4V68a4,4,0,0,0,4,4H38.46V44.16H29.11V33.26h9.35v-8c0-9.3,5.68-14.37,14-14.37a77.46,77.46,0,0,1,8.38.43V21H55.1c-4.51,0-5.39,2.15-5.39,5.3v6.94H60.5l-1.4,10.9H49.71V72H68a4,4,0,0,0,4-4V4A4,4,0,0,0,68,0Z"/>
        <path id="facebook-logo__f" fill="#ffffff" d="M49.71,72V44.16H59.1l1.4-10.9H49.71V26.32c0-3.15.88-5.3,5.39-5.3h5.72V11.3a77.46,77.46,0,0,0-8.38-.43c-8.3,0-14,5.07-14,14.37v8H29.11v10.9h9.35V72Z"/>
    </svg>
</button>
<script>

    // Load the Facebook SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function () {
        FB.init({
            appId: '635965446784983',
            cookie: true, // enable cookies to allow the server to access
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.8' // use version 2.8
        });

        // Check user session and refresh it
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // User is authorized
                document.getElementById('facebook-sign-in-button').style.display = 'none';
                getUserData();
            } else {
                // User is not authorized
                alert('you are not authorized');
            }
        });
    };

    // Add event listener to facebook sign in button
    document.getElementById('facebook-sign-in-button').addEventListener('click', function(){
        // Perform sign in
        FB.login(function(){
            if(response.authResponse){
                // User authorized app
                document.getElementById('facebook-sign-in-button').style.display = 'none';
                getUserData();
            }
        }, {scope: 'email, public_profile', return_scopes: true});
    });

    function getUserData(){
        FB.api('/me', function(response){
           alert('Signed In: ' + response.name);
        });
    }
</script>

{% endblock %}